@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(63 63 70 / 0.8);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82 82 91);
}
